In [3]:
import pandas as pd

In [4]:
hppd = "Resources/purchase_data.csv"
hppdf = pd.read_csv(hppd)

In [5]:
hppdf.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [6]:
#player count
print("Total player count is",(hppdf["SN"].count()))

Total player count is 780

In [7]:
print(hppdf["Item Name"].count())

780

In [84]:
hppdf["Item Name"] = hppdf["Item Name"].astype(str)
#hppdf["Age"] = hppdf["Age"].astype(str)

In [85]:
hppdf.dtypes

Purchase ID      int64
SN              object
Age             object
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [86]:
#total value of unique items
hppdf["Item Name"].value_counts()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
Persuasion                                       9
                                                ..
Alpha, Reach of Ending Hope                      1
Ghost Reaver, Longsword of Magic                 1
Celeste                                          1
Betrayer                                         1
Undead Crusader                                  1
Name: Item Name, Length: 179, dtype: int64

In [87]:
#Average Price, Number of Purchases, Total revnue
print(hppdf["Price"].mean())
print(hppdf["Purchase ID"].count())
print(hppdf["Price"].sum())

3.050987179487176
780
2379.77

In [88]:
hppdfg = hppdf[["SN", "Gender", "Item ID","Price",]]
hppdfg.head()

              SN Gender  Item ID  Price
0        Lisim78   Male      108   3.53
1    Lisovynya38   Male      143   1.56
2     Ithergue48   Male       92   4.88
3  Chamassasya86   Male      100   3.27
4      Iskosia90   Male      131   1.44

In [89]:
hppdfg["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [90]:
hppdfa = hppdfg.groupby(["Gender"])
gc = hppdfa.nunique()["SN"]
gc100 = gc / (hppdfa.count()) * 100
pd.DataFrame({"Total": gc})

                       Total
Gender
Female                    81
Male                     484
Other / Non-Disclosed     11

In [91]:
hppdfga = hppdfg.groupby(["Gender"])
ha = hppdfga["Item ID"].count()
hp = hppdfga["Price"].mean()
hv = hppdfga["Price"].sum()
hc = hv/gc
pd.DataFrame({"Purchase Count": ha, "Average Purchase Price": hp, "Total Purchase Value": hv, "Average Purchase Total": hc})

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [120]:
hppdfgg = hppdf[["Age","SN","Price"]]
hppdfgg = hppdfgg.groupby(["Age"])
abi = [0,9,15,20,25,30,35,40,90]
lam = ["<10","10-14","15-19","20-24","25-29","30-34","35-40","40+"]
avc = hppdfgg["Age"].value_counts()
hppdfgg = pd.cut(["Age"],abi,right=True, labels=lam,  duplicates='raise')
print(hppdfgg,{'Total players': avc})

[NaN]
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-40 < 40+] {'Total players': Age  Age
10   10      9
11   11      7
12   12      6
13   13      4
14   14      2
15   15     35
16   16     30
17   17     22
18   18     26
19   19     23
20   20     99
21   21     62
22   22     70
23   23     67
24   24     67
25   25     59
26   26     14
27   27     10
28   28      5
29   29     13
30   30     35
31   31      7
32   32      8
33   33     14
34   34      9
35   35     14
36   36      5
37   37      7
38   38      9
39   39      6
40   40      6
41   41      2
42   42      1
43   43      1
44   44      2
45   45      1
7    7       9
8    8       8
9    9       6
Name: Age, dtype: int64}

In [133]:
hppdfp = hppdf.groupby(["SN"])
snp = hppdfp["Purchase ID"].count()
snm = hppdfp["Price"].mean()
snt = hppdfp["Price"].sum()
tsp = pd.DataFrame({"Total Purchases": snp, "Average Price": snm, "Total Purchase Amount": snt})
tsp = tsp.sort_values(["Total Purchases"], ascending=False)
tsp.head()

             Total Purchases  Average Price  Total Purchase Amount
SN
Lisosia93                  5       3.792000                  18.96
Iral74                     4       3.405000                  13.62
Idastidru52                4       3.862500                  15.45
Asur53                     3       2.480000                   7.44
Inguron55                  3       3.703333                  11.11