In [2]:
import pandas as pd

In [3]:
hppd = "Resources/purchase_data.csv"
hppdf = pd.read_csv(hppd)

In [4]:
hppdf.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [5]:
#player count
print("Total player count is",(hppdf["SN"].count()))

Total player count is 780

In [6]:
print(hppdf["Item Name"].count())

780

In [33]:
hppdf["Item Name"] = hppdf["Item Name"].astype(str)
#hppdf["Age"] = hppdf["Age"].astype(str)

In [34]:
hppdf.dtypes

Purchase ID      int64
SN              object
Age             object
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [35]:
#total value of unique items
hppdf["Item Name"].value_counts()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Fiery Glass Crusader                             9
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
                                                ..
Betrayer                                         1
Riddle, Tribute of Ended Dreams                  1
Ghost Reaver, Longsword of Magic                 1
Endbringer                                       1
Undead Crusader                                  1
Name: Item Name, Length: 179, dtype: int64

In [36]:
#Average Price, Number of Purchases, Total revnue
print(hppdf["Price"].mean())
print(hppdf["Purchase ID"].count())
print(hppdf["Price"].sum())

3.050987179487176
780
2379.77

In [37]:
hppdfg = hppdf[["SN", "Gender", "Item ID","Price",]]
hppdfg.head()

              SN Gender  Item ID  Price
0        Lisim78   Male      108   3.53
1    Lisovynya38   Male      143   1.56
2     Ithergue48   Male       92   4.88
3  Chamassasya86   Male      100   3.27
4      Iskosia90   Male      131   1.44

In [38]:
hppdfg["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [69]:
hppdfa = hppdfg.groupby(["Gender"])
gca = hppdfa["Price"].count()
gc = hppdfa.nunique()["SN"]
gc100 = (gc / 780) * 100
pd.DataFrame({"Total": gc, "Total percent": gc100})

                       Total  Total percent
Gender
Female                    81      10.384615
Male                     484      62.051282
Other / Non-Disclosed     11       1.410256

In [40]:
hppdfga = hppdfg.groupby(["Gender"])
ha = hppdfga["Item ID"].count()
hp = hppdfga["Price"].mean()
hv = hppdfga["Price"].sum()
hc = hv/gc
pd.DataFrame({"Purchase Count": ha, "Average Purchase Price": hp, "Total Purchase Value": hv, "Average Purchase Total": hc})

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [75]:
hppdfgg = hppdf[["Age","Purchase ID","Price"]]
abi = [0,9.90,14.90,19.90,24.90,29.90,34.90,39.90,90]
lam = ["<10","10-14","15-19","20-24","25-29","30-34","35-40","40+"]
#hppdfgg = pd.cut(["Age"],abi,right=True, labels=lam) 
avc = hppdfgg["Age"].value_counts()
pd.DataFrame({'Total players': avc})

    Total players
20             99
22             70
24             67
23             67
21             62
25             59
15             35
30             35
16             30
18             26
19             23
17             22
26             14
35             14
33             14
29             13
27             10
7               9
10              9
38              9
34              9
8               8
32              8
11              7
37              7
31              7
12              6
39              6
40              6
9               6
36              5
28              5
13              4
41              2
14              2
44              2
43              1
45              1
42              1

In [78]:
pca = hppdfgg["Purchase ID"].nunique()
appa = hppdfgg["Price"].mean()
tppa = hppdfgg["Price"].sum()
apta = tppa/avc
pd.DataFrame({"Purchase Count": pca, "Average Purchase Price": appa, "Total Purchase Value": tppa, "Ave Purchase Total":apta})

,Purchase Count,Average Purchase Price,Total Purchase Value,Ave Purchase Total
20,780,3.050987,2379.77,24.038081
22,780,3.050987,2379.77,33.996714
24,780,3.050987,2379.77,35.518955
23,780,3.050987,2379.77,35.518955
21,780,3.050987,2379.77,38.383387
25,780,3.050987,2379.77,40.335085
15,780,3.050987,2379.77,67.993429
30,780,3.050987,2379.77,67.993429
16,780,3.050987,2379.77,79.325667
18,780,3.050987,2379.77,91.529615
19,780,3.050987,2379.77,103.468261
17,780,3.050987,2379.77,108.171364
26,780,3.050987,2379.77,169.983571
35,780,3.050987,2379.77,169.983571
33,780,3.050987,2379.77,169.983571
29,780,3.050987,2379.77,183.059231
27,780,3.050987,2379.77,237.977000
7,780,3.050987,2379.77,264.418889
10,780,3.050987,2379.77,264.418889
38,780,3.050987,2379.77,264.418889
34,780,3.050987,2379.77,264.418889
8,780,3.050987,2379.77,297.471250
32,780,3.050987,2379.77,297.471250
11,780,3.050987,2379.77,339.967143
37,780,3.050987,2379.77,339.967143
31,780,3.050987,2379.77,339.967143
12,780,3.050987,2379.77,396.628333
39,780,3.050987,2379.77,396.628333
40,780,3.050987,2379.77,396.628333
9,780,3.050987,2379.77,396.628333
36,780,3.050987,2379.77,475.954000
28,780,3.050987,2379.77,475.954000
13,780,3.050987,2379.77,594.942500
41,780,3.050987,2379.77,1189.885000
14,780,3.050987,2379.77,1189.885000
44,780,3.050987,2379.77,1189.885000
43,780,3.050987,2379.77,2379.770000
45,780,3.050987,2379.77,2379.770000
42,780,3.050987,2379.77,2379.770000

In [16]:
hppdfp = hppdf.groupby(["SN"])
snp = hppdfp["Purchase ID"].count()
snm = hppdfp["Price"].mean()
snt = hppdfp["Price"].sum()
tsp = pd.DataFrame({"Total Purchases": snp, "Average Price": snm, "Total Purchase Amount": snt})
tsp = tsp.sort_values(["Total Purchases"], ascending=False)
tsp.head()

             Total Purchases  Average Price  Total Purchase Amount
SN
Lisosia93                  5       3.792000                  18.96
Iral74                     4       3.405000                  13.62
Idastidru52                4       3.862500                  15.45
Asur53                     3       2.480000                   7.44
Inguron55                  3       3.703333                  11.11

In [17]:
hppdfi = hppdf.groupby(["Item ID","Item Name"])
fi = hppdfi["Item ID"].count()
fa = hppdfi["Price"].sum()
fe = fa/fi
fia = pd.DataFrame({"Total Purchase": fi, "Average Price": fe, "Total Price": fa})
fia = fia.sort_values(["Total Purchase"], ascending=False)
fia.head()

,,Total Purchase,Average Price,Total Price
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [18]:
fiap = fia.sort_values(["Total Price"], ascending=False)
fiap.head()

,,Total Purchase,Average Price,Total Price
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80

In [ ]:
hppdfgg = hppdf[["Age","SN","Price"]]
abi = [0,9.90,14.90,19.90,24.90,29.90,34.90,39.90,90]
lam = ["<10","10-14","15-19","20-24","25-29","30-34","35-40","40+"]
hppdfgg["Age Group"] = pd.cut(["Age"],abi,right=True, labels=lam,  duplicates='raise') 
avc = hppdfgg["Age"].value_counts()
hppdfgg.groupby(["Age"])
#pd.DataFrame({'Total players': avc})