In [1]:
import pandas as pd

In [32]:
hppd = "Resources/purchase_data.csv"
hppdf = pd.read_csv(hppd)

In [64]:
hppdf.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [21]:
#player count
print("Total player count is",(hppdf["SN"].count()))

Total player count is 780

In [22]:
print(hppdf["Item Name"].count())

780

In [51]:
hppdf["Item Name"] = hppdf["Item Name"].astype(str)

In [52]:
hppdf.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [55]:
#total value of unique items
hppdf["Item Name"].value_counts()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
Persuasion                                       9
                                                ..
Undead Crusader                                  1
Betrayer                                         1
Alpha, Reach of Ending Hope                      1
Endbringer                                       1
Gladiator's Glaive                               1
Name: Item Name, Length: 179, dtype: int64

In [60]:
#Average Price, Number of Purchases, Total revnue
print(hppdf["Price"].mean())
print(hppdf["Purchase ID"].count())
print(hppdf["Price"].sum())

3.050987179487176
780
2379.77

In [67]:
hppdfg = hppdf[["SN", "Gender", "Item ID","Price",]]
hppdfg.head()

              SN Gender  Item ID  Price
0        Lisim78   Male      108   3.53
1    Lisovynya38   Male      143   1.56
2     Ithergue48   Male       92   4.88
3  Chamassasya86   Male      100   3.27
4      Iskosia90   Male      131   1.44

In [68]:
hppdfg["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [78]:
gc = hppdfg["Gender"].value_counts()
gc100 = hppdfg["Gender"].value_counts(normalize=True).mul(100).round(1).astype(str) +"%"
pd.DataFrame({"counts": gc, "per": gc100})

                       counts    per
Male                      652  83.6%
Female                    113  14.5%
Other / Non-Disclosed      15   1.9%